<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS-Icons.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "GetStudent", "Student", null, new { Class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("View Students", "GetStudent", "Student", null, new { Class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Insert Students", "CallInsertView", "Student", null, new { Class = "nav-link" })
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    @RenderBody()
    <footer class="page-footer font-small pt-4 bg-light text-dark">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Submitted BY</h5>
                    <p>Patel Rohan</p>
                    <p>20MCA097</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Home", "GetStudent", "Student", null, new { Class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("View Students", "GetStudent", "Student", null, new { Class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Insert Students", "CallInsertView", "Student", null, new { Class = "nav-link" })
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
</body>
</html>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
